﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UC_SubBox.ascx.cs" Inherits="LowCostSite.sass.UC_SubBox" %>

<h5 class="font-bold">
    <asp:Label ID="lbl_Title" runat="server" Text="" />
</h5>
<asp:Label ID="lbl_ShortText" runat="server" Text="" />
<br />
<div runat="server" id="lbl_LongText" class="TemplateLongText"></div>
<span class="read_more" id="lbl_ReadMore" runat="server" style="display: none;" onclick="ToggleLongText(this)">קרא עוד</span>


