﻿<%@ Page Title="" Language="C#" MasterPageFile="~/sass/Master/MasterPage.Master" AutoEventWireup="true" CodeBehind="Loader.aspx.cs" Inherits="LowCostSite.Loader" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script>
      
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    
</asp:Content>
