﻿.hidden {
    display: none;
}
/* The wrapping div of the whole autocomplete */
.autocomplete-box {
    text-align: right;
    direction: rtl;
    background-color: rgb(255,255,255); /*#b4b4b4;*/
    height: 300px;
    min-width: 300px;
    position: absolute;
    overflow-y: auto;
    z-index: 100;
    word-wrap: normal;
    border-radius: 4px;
    border: 1px solid #eee;
    box-shadow: RGBA(0,0,0,0.2) 2px 2px 8px;
}

/* The first item in a city box (with the city description)*/
.city-item {
    min-height: 30px;
    background-color: rgb(255,255,255);
    color: black;
    padding: 0 10px;
    cursor: default;
    border-bottom: 1px solid #eee;
}

    .city-item:hover {
        background-color: #428bca;
    }


/* The contaning box of a city (with all the airports of that city)*/
.city {
    position: relative;
    padding: 0;
    min-width: 100%;
    /*border: 3px solid #002d89;*/
}

/* A row for an airport */
.airport {
    margin-bottom: 5px;
    margin-top: 5px;
    color: gray;
    min-width: 100%;
    min-height: 30px;
    /*border: 1px solid #eee;*/
    cursor: default;
    background-color: #eeeeee;
    padding: 0 10px;
    border-bottom: 1px solid #E6E6E6;
}

    .airport .airportName {
        /*margin-left:15px;*/
    }

    .airport:hover {
        background-color: #428bca;
        color: black;
    }

.cityIcon {
    position: absolute;
    width: 30px;
    height: 20px;
    margin: 3px 10px 3px 3px;
    float: left;
    left: 0;
    vertical-align: central;
    padding-right: 10px;
}

.airportIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 3px 10px 3px 3px;
    float: left;
    left: 0;
    vertical-align: central;
}
