﻿
//NAVBAR
.nav{
	.navbar {
		background-color: $navbar-default-color; 
		margin-bottom: 0px; 
  
		.navbar-brand {
			color: $navbar-default-color;
			font-weight: $navbar-font-weight;
			padding:0px;
		}

		.logo{
			@media (max-width: $screen-xs-max) {
				width:150px;
			}
			margin-left:20px;
		}

		.navbar-nav{
			@media (max-width: $screen-xs-max) {
				width:100%;
			}
		
		}

		.navbar-brand {
			margin-left: 15px;
		}
		.navbar-form {
			margin-top: 18px;
			margin-bottom: 18px;
		}
		.caret{
			margin-right: 5px;
			margin-left:0px;
		}

	}
	.dropdown-menu{
		>ul{
			position: absolute;
			>li {a {
					text-align:right;
				}
			}
		}
	}
	
	.navbar-default {
		border: none;
		box-shadow: $box-shadow;
		font-weight: $navbar-font-weight;
		.navbar-nav {
			> li { 
				a {
					color: $navbar-not-selected-color;
					font-weight: $navbar-font-weight;
//					font-size:$font-size-large;
				}
				
				&:first-child  a{
//					color:$navbar-default-color
				}
				
					
				
			}
			.active{
				a{
					color:$navbar-default-color !important;
				}
			}
				
		}
		.dropdown-menu{
			float: right !important;
			right: 0 !important;
			left: auto !important;
		}
		
	}
	.phone {

		font-weight: $navbar-font-weight;
		font-size:$font-size-large;
		margin-top: -10px;
		.phone-text {
			color: $phone-color;
			font-weight: $navbar-font-weight;

		}
		img{
			vertical-align:bottom;
		}
	}
}
//NAVBAR END

//MAIN IMAGE
.main_img_size{
	@media (max-width: $screen-xs-max) {
		width:  $container-sm;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		width:  $container-sm;
	}

	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		width: $container-md;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (max-width: $screen-xs-max) {
		width:  $screen-xs;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		width:  $container-sm;
	}

	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		width: $container-md;
	}

	@media (min-width: $screen-lg-min) {
		@include responsive-invisibility('.hidden-lg');
	}

}
//MAIN IMAGE END

//PROMOTION ROWS
.row_text_gallery {
	color: $btn-default-color;
	text-align: right;
	padding: $modal-title-padding;
	font-size: $font-size-extra-large;
	font-weight: $navbar-font-weight;
	background-color: $bg-info-row;
	float:$right;
	right: 0;
	padding: $row-promotion-title;
	margin-bottom:  10px;
}
.row_promotion{
	margin-top: $row-pronotion-box; 
}
//PROMOTION ROWS END


//SEARCH BOX
 .wrap-search {
            position: absolute;
            bottom: 0px; /* display: -webkit-inline-box; */
            width: 100%;
        }
.search_box_wrap{
	position:relative;
	font-weight:normal;
	.control-label {
		color:$btn-default-color;
		font-size:$font-size-large;
		label{
			font-weight:normal;
		}
	}
	label{
			font-weight:normal;
		}
	.bg_search_box{
//		background-color: $bg_search;
		background-color: $bg-info-row;
		box-shadow:$box-shadow;
		position: $search-box-position;
		z-index:$search-box-zindex;
		.box-search-center{
			float:none;
			margin:0 auto;
		}
	}
	.btn_main_search {
		height: $btn-main-search-height;
		padding: $btn-main-search-padding;
//		margin-top:$btn-main-search-margin-top ;
	}
	.btn-lg{
		box-shadow:$box-shadow;
		border-radius: $zero;
	}
	.cb-lables{
		font-weight:normal;
		font-size:$font-size-base;
	}

	.datepicker-cal {
color: #aaa;
position:absolute;
padding-right: 10px;
padding-top:7px;
}
.myDatepicker{
padding-right:30px;
}
}
.row_search_title {
	color: $btn-default-color;
	text-align: right;
	padding: $modal-title-padding;
	font-size: $font-size-h2;
	font-weight: $badge-font-weight;
	background-color: $bg_search;
	float: right;
	right: 0;
	margin-bottom: $navbar-margin-bottom;
	box-shadow:$box-shadow;
	text-align:right;
	padding-right:40px;
	@media (max-width: $screen-xs-max) {
		width: 100%;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		width: 100%;
	}

	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		width: 50%;
	}

	@media (min-width: $screen-lg-min) {
		width: 100%;
	}

	@media (max-width: $screen-xs-max) {
		width: 100%;
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		width: 100%;
	}

	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		width: 50%;
	}

	@media (min-width: $screen-lg-min) {
		width: 50%;
	}

}
//SEARCH BOX WRAP

//LAST SEARCHES
.list-group {
	box-shadow: $box-shadow;

	.list-group-item-heading
	{
		font-weight: $badge-font-weight;
	}
	.list-group-item {
		padding: $last-search-padding;
	}
	.list-group-item-text {
		font-size: $font-size-large;
		font-weight: $badge-font-weight;
	}
	.arrow {
		position: $line-height-position;
		text-align: left;
		float: $left;
		line-height: $line-height-last-search;
		font-size: $last-search-font-arrow;
	}
	.price-color{
		color: $last-search-price-color;
	}
}
//LAST SEARCHES END    


//DESTINATION BOX
.hot-destination-title{
	font-weight: bold;
	color: #333333;
	text-align: right;
}
.destination-box{
	height: $promotion-row-height;
	padding-top: $promotion-row-padding-top;
}
//DESTINATION BOX END


//TIPS
.tips{
	.tip_box{
		background-color:$tip-title-bg;
		color: $tip-title-color;
	}

	.tip-box-bg{
		background-color:$tip-box-bg;
	}
	
	.no_padding{
		padding:$tip-padding;
	}

	.tip_info{
		line-height: $tip-line-heigth;
	}
	.btn-tip{
		height:$btn-tip-height;

	}
	.btn-default {

		color: $btn-tip-color;
		background-color:$btn-tip-bg ;
		box-shadow: $btn-tip-shadow;
		border: $btn-tip-border;
	}
	.btn-default:hover{
		color: $btn-tip-color;
		background-color:$btn-tip-bg ;
		box-shadow: $btn-tip-shadow;
		border: $btn-tip-border;
	}

}
	.tips-box{
	padding: $bottom-space;
	margin:$line-title-space;
	margin-top: $zero;
	padding-top: $zero;
	}
//TIPS END


//FOOTER
.footer-container{
	padding:0px;
	width: 100%;
	background-color: #333333;
	.footer{
		background-color:$footer-bg;
		width:$footer-width-full;
		.footer-links
		{
			color:$footer-link-color;
			list-style: $footer-list-style;
		}
		.footer_logo {
			text-align: $footer-text-align;
			padding: $footer-padding;
		}
		.inside-arrow{
			width: $footer-arrow-width;
			height: $footer-arrow-height;
			background-color: $footer-arrow-bg-box;
			text-align: $footer-text-align;
			line-height: $footer-line-height;
			color: $footer-link-color;
			cursor: $pointer;
		}
		.no_style_mail{
			background-color:$transparent;
			border:$no_border;
		}
	
		.border-left{
			border-left:$footer-border-left;
		}
		.padding_inner_box{
			padding:$footer-padding;
		}
	}
}
//GLOBAL SETTINGS
.color_dark{
	color: $btn-default-color;
	}
.bottom_space{
	margin-bottom:$bottom-space;
}
.no-padding{
	padding:$zero !important;
}
.no-padding-left{
	padding-left:$zero;
}
.no_margin{
	margin:$zero;
}
.box_shadow{
	box-shadow:$box-shadow;
}
.pointer{
	cursor:$pointer;
}
.inline-block{
	display:$inline-block;
}
.text-right{
	text-align:$text-align-right;
}
.text-left{
	text-align: $text-align-left;
}
.text-center{
	text-align:$text-align-center !important;
}
.no_border{
	border:$no_border !important;
}
.no-shadow{
	box-shadow: $no-shadow !important;
}
.full-width{
	width:$full-width;
}
.z_index_1{
	z-index:$z-index-1;
}
.no-padding-right{
	padding-right:$no-padding;
}
.no-padding-left{
	padding-left:$no-padding;
}
.font-bold{
	font-weight: $badge-font-weight;
}
.no-radius{
	border-radius: $zero !important;
}
.logo-position{
	margin-top: $logo-margin-top;
}
.link-color{
	color:$link-color;
}
.space-box{
	margin-top:$footer-padding;
}
.no-margin-bottom{
	margin-bottom: $zero !important;
}
.box-padding{
	padding:$box-padding-global;
}
.inline{
	display:inline;
}

//GLOBAL SETTINGS END

//DESTINATION-COMPANY-PAGE
.content-page{
	padding-bottom: $content-page-padding-bottom;
	color: $content-page-color;
	background-size: $content-page-background-size;
	text-align: $text-align-center;
	.img_destination {
		width: $img-destination-width;
		margin-top: $img-destination-margin-top;
	}
	.box_destination_size{
		width: $box-destination-size;
	}
	.box_destination_space{
		margin-left: $box-destination-space;
	}
	.clock_text{
		text-shadow:$clock-text-shadow;
	}
}
 .size-main-page {
            width: 100%;
            height: 620px;
            position: relative;
        }
//DESTINATION-COMPANY-PAGE

//DESTINATION-COMPANY-CONTANT
.highlight {
	padding: $highlight-padding;
	margin-bottom: $highlight-margin-bottom ;
	background-color: $highlight-bg;
	color:$highlight-color;
	.title_content{
		color: $title-content-color ;
		font-weight:$title-content-font-weight;
	}
	.read_more{
		color:$read-more-color;
		cursor:$pointer;
		text-decoration:$text-decoration-underline;
	}
	.img-size-big-box{
		width:$img-size-big-box;
	}
	.img-size-small-box{
		width:$img-size-small-box;
	}
	.img_title {
		position: $img-title-position;
		background-color: rgba(255,255,255,0.8);
		bottom: 10px;
		padding: 0 10px;
	}
}
//DESTINATION-COMPANY-CONTANT END

//ACCORDION
.panel{
//	@media (max-width: $screen-xs-max) {
//		width:  500px;
//	}

//	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
//		width: 500px;
//	}

//	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
//		width:  750px;
//	}

//	@media (min-width: $screen-lg-min) {
//		width: 1100px;
//	}

//	@media (max-width: $screen-xs-max) {
//		width: 500px;
//	}

//	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
//		width:  500px;
//	}

//	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
//		width: 750px;
//	}

//	@media (min-width: $screen-lg-min) {
//		width: 1100px;
//	}
	.panel-body{

		>p{
			color:$highlight-color !important;
	
		}
	}
}
//ACCORDION

//FAQ
.line-title{
	width:$full-width;
	height:$line-title;
	background-color:$brand-primary;
	margin:$line-title-space;
	margin-top: $promotion-row-padding-top;
}
//FAQ

//MAIN-BOX
.box-wrap-content{
	width: $width-with-padd;
	padding: 15px;
	background-color: $main-title-color;
	margin: $line-title-space;
	padding-top: $zero;
	padding-left: $zero;
	padding-right: $zero;
}
.box-wrap-title{
	width: $width-with-extra-padd;
	height: $main-title-height;
	background-color: $main-title-bg;
	border-radius: $main-title-border-radius;
	box-shadow: $box-shadow;
	color: $main-title-color;
	padding: $main-title-padding;
	margin: $main-title-margin;
	font-size: $main-title-font-size;
	padding-right: $main-title-padding-right;
	font-weight: $main-title-font-weight;
	margin-right: $main-title-margin-right;
	position: relative;
	z-index: 0;
	.btn_Order{
		color:white;
	}
	.btn_Order:hover{
		text-decoration:none;
	}
	
}
.panel{
	.panel-heading{
		background-color: $panel-heading-bg;
	}

	.panel-body{
		background-color: $panel-body-bg;
	}
}
.panel-group .panel + .panel{
	margin-top:$zero !important;
}
.no-margin-top{
	margin-top:$no-margin-top;
}
//MAIN-BOX
//FLIGHTS RESULTS
.flight-info-order{
	background-color:$main-title-bg;
	color:$footer-link-color;
	font-weight:$navbar-font-weight;
}
.row-space{
	height:$row-space-height;
}
.title-space-small{
	margin-top:$title-space-margin-top;
}
.filter-title{
	background-color:$row-marker-soft;
	color:$last-search-price-color;
	font-size:$font-size-large;
	padding: $filter-padding;
	border-bottom:1px solid #ddd;
	cursor:pointer;
}
.text-space{
	padding-right:$footer-padding;
}
.image-space{
	margin-left:$footer-padding;
}
.filter-title-inner{
	color:$last-search-price-color;
	font-weight:$navbar-font-weight;
}
.full-width-padd{
	width:$width-full-with-padd !important;
}
.order-text{
	padding:  $order-btn-text-padding;
	background-color: $order-btn-text-bg;
	border-radius: $order-btn-text-border-radius;
}
.price-result-text{
	margin:$price-result-text-margin; 
	padding: $price-result-text-padding;
	border-right:$price-result-text-border-right;
	height: $price-result-text-height;
	margin-top: $price-result-text-margin-top;
}
.price-color{
	color:$last-search-price-color;
}
.font-size-large{
	font-size:$font-size-large;
}
.space-up-plan{
	margin-top:$space-up-plan-margin-top;
}
.flight-row{
	list-style:$flight-row-list-style;
	margin: 0 auto;
}
.flight-row-box{
	>td{
		padding: 0 15px !important;
	}
	>ul{
		list-style:none;
		padding-right: 30px;
		margin: $main-title-margin;
	}
	li{

		border-buttom:1px solid grey;
	}
	
	.time-flight{
		height: 35px;
		text-align: center;
		line-height: 2;
		margin-right: 10px;
		font-size: 18px;
	}
	.time-padding{
		padding:0 15px;
	}
	.line-height-1{
		line-height:1;
	}
	.details-size{
		width:30px;
	}
	.box-margin{
		margin:5px auto !important;
	}
	
}
.table-row-segment{
	
	td{
		border-bottom:1px solid #ddd;
	}

	
	}
.row-info-time{

	
	td{
		border-bottom:0px;
	}
	

}
.segment{
	
	td{
		border-bottom:0px;
	}
}
.tr-selected{
	>td{
		background-color:$tr-selected-bg;
	}

}
.tableDetails{
	background-color:$tr-selected-bg;
	margin-bottom :10px !important;
	padding-bottom :5px;
	th{
		background-color:$result-table-td-bg;
		height:30px;

	}
	.bg-stops{
		background-color:$result-table-td-bg;
	}
	.last-row{
		height:10px;
	}
	}

.separatorDiv {
	width:$full-width;
	height: 17px;
	position: relative;
}
.sepL {
	width: 11px;
	height: 17px;
	background-image: url(../sass/images/right-sepa.PNG) ;
	float:$left;
}
 .separator {
	background: url(../sass/images/repeater-sepa.PNG) repeat-x ;
	width: 96%;
	height: 17px;
	margin: $main-title-margin;
	float:$left;
}
.sepR {
	width: 11px;
	height: 17px;
	background-image: url(../sass/images/left-sepa.PNG);
	float:$right;

}
.price-box{

	position:absolute;
	margin-right: -75px;
	margin-top: 6px;
}
.arrow-down-change{
	float: $left;
	margin-top: 3px;
	margin-left: 10px;
}
	.arrow-down-filter{
	float: $left;
	margin-top: 3px;
	margin-left: 10px;
}
//FLIGHTS RESULTS


.display_inline_block{
	display:inline-block;
}

.mt14{
	margin-top: 14px;
}
.text_on_images{
	z-index: 2;
	position: relative;}
.pt50{
	padding-top:50px;
}
.ul_image {
	padding: 0;
	position: absolute;
	z-index: 0;
	text-align: center;
	margin: $main-title-margin;
	width: $full-width;
	.back-image {
            transition: height 300ms;
            -webkit-transition: height 300ms;
        }
		.img-closed {
            width: 100%;
            height: 670px;
        }

}

.display-none{
	display:none;
}

.center-image{
	width: $full-width;
	margin: $main-title-margin;
	text-align: center;
}

.no-margin{
	margin:$zero !important;
}

.no-margin-side{
	margin-right:$zero !important;
	margin-left:$zero !important;
}
.padding-side-title{
	padding-right: 15px;
	padding-left: 15px;
}
.price-box-details{
	height: 40PX;
	background-color: #e4e5e7;
	width: 80%;
	margin: $main-title-margin;
	text-align: center;
	font-size:18px;
	color: $highlight-color;
	line-height: 2;
}
.no-padding-bottom{
	padding-bottom:$zero !important;
}
.title_content {
	color: #c7383c;
	font-weight: $navbar-font-weight;
}
.btn-pay{
	height: 40px;
	border: 0;
	background-color: $btn-pay-bg;
	color: $tip-title-color;
}
.btn-pay:hover
{
	color:$tip-title-color;
}
.title-open {
	background-color: $info-side-open-bg;
	color: $tip-title-color;
	line-height: 1;
	font-size: $font-size-x-large;
}
.title-close{
	background-color: $last-search-price-color;
	color: $tip-title-color;

	line-height: 1;
	font-size: $font-size-x-large;
}
.filter-title-default {
	background-color: $row-marker-soft;
	color: $highlight-color;
	font-size: $font-size-large;
	padding: 10px;
}
.seperate-border-top {
	border-top: 1px solid #ddd;
}
.bg_search_box {
	background-color: $bg_search;
	box-shadow: $box-shadow;
	position: relative;
	z-index: 2;
	font-size: $font-size-base;
	line-height: 2;
	font-weight:normal;
//	margin-top: 58px;
}
.order-btn{
color:white;
}