﻿.navbar-nav > li {
float: right;
@media (max-width: $screen-xs-max) {
      clear:both;
    }

}
.navbar-header {
float: right;
}
.right{
float:right;
}
.left{
float:left;
}
.list-group-item{
text-align:right;
}
.rtl{
text-align:right;
direction:rtl;
}
.col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1{float:right}
.navbar-nav {
float: right;
margin: 0;
}

.col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1{
float: right;
margin: 0;
}