﻿.popularDestination {
    width: 90%;
    position: absolute;
    background-color:#eeeeee;
    box-shadow: RGBA(0,0,0,0.2) 2px 2px 8px;
    border-radius: 4px;
border: 1px solid #eee;
/*disable text selecion */
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

    .popularDestination span.close {
        text-align: left;
        float: left;
        padding: 0 10px;
        font-size: 13px;
        cursor: pointer;
    }

    .popularDestination h3 {
        text-align: center;
        margin-top: 10px;
         color:#333333;
    }

    .popularDestination ul {
        padding:0px;
        list-style:none;
       display: inline-block;
border-bottom: 1px solid #CBC3C3;
        }
    .popularDestination ul li {
        width:49%;
        float:right;
        color:#333333;
        padding-right:15px;
        font-size: 16px;
    }
    .popularDestination ul li:hover {
        color:#2a6496;
        cursor:pointer;
    }
    .popularDestination .multiSelect {
        display:inline-block;
        width: 100%;
    }
    .popularDestination .multiSelect span{
        float:right;
        width:70px;
        color: #333;
padding-right: 20px;
    }
    .popularDestination .multiSelect select{
        float:right;
       margin-right: 10px;
width: 150px;
color:#333;
    }


        .popularDestination .multiSelect .btn {
            color: white;
background-color: #3276b1;
border-color: #285e8e;
box-shadow: -1px 1px 5px #c2c2c2;
border-radius: 0px;
height: 34px;
padding: 0 10px;
float: left;
margin-left: 51px;
        }
.PopularDestinationIcon {
    color: #aaa;
position: absolute;
padding-right: 10px;
padding-top: 10px;
cursor:pointer;
}
.PopularDestinationInput {
padding-right: 30px;
}