﻿
@font-face {
    font-family: 'Carmela';
    src: url('/fonts/carmela.eot');
    src: url('/fonts/carmela.eot?#iefix') format('embedded-opentype'), url('/fonts/carmela.woff') format('woff'), url('/fonts/carmela.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.body {
    font-family: 'Carmela' !important;
}

.error-box {
    border: 1px solid #c63a43;
}

.error-msg {
    color: #c63a43;
}

.SuccesssAlert {
    position: relative !important;
    top: 60px !important;
    right: 30px !important;
    background-color: #32c343 !important;
    border: solid 5px #15551c !important;
    border-radius: 7px !important;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

.price-desc {
    z-index: 3;
    position: relative;
}

.display-none {
    display: none;
}

.display-normal {
    display: normal;
}

.display-inline {
    display: inline;
}

.display-block {
    display: block;
}

.price-right-box {
    width: 48%;
}
/*AutoComplete flyout */
.autocomplete_completionListElement {
    /*max-height: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
    direction: rtl;
    text-align: right;
    border-radius:4px;*/
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: right;
    text-align: right;
    min-width: 160px;
    _width: 160px;
    padding: 6px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    max-height: 400px;
    overflow-y: auto;
}

/* AutoComplete highlighted item */
.autocomplete_highlightedListItem {
    /*min-height: 30px;
    margin: 0px;
    background-color: #3276b1;
    text-align: right;
    color: #fff;
    padding: 0px;
    margin-right: -35px;*/
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
    min-height: 30px;
}

/* AutoComplete item */
.autocomplete_listItem {
    /*min-height: 30px;
    margin-right: -35px;
    text-align: right;
    background-color: #FFF;*/
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    min-height: 30px;
}

/* ORDER PAGE */
.b-day {
    height: 34px;
    width: 29%;
}

.phone-prefix {
    width: 60%;
    display: inline-block;
}

.h4-flight-title {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}


/*.group-collapse {
    width: 30px;
    height: 30px;
    background-color: #95cfff;
    border: 3px solid #6fa1cb;
    border-radius: 5px;
    padding-right: 5px;
    padding-top: 3px;
    margin: 4px 4px 0 0;
}*/

.collapsed-group {
    background-color: transparent;
    margin-bottom: -20px !important;
}


.rb-group {
    width: 100%;
}

    .rb-group [type="radio"] {
        position: relative;
        float: left;
    }

.display-inline-block {
    display: inline-block;
}

.conditions-link {
    color: #428bca;
    font-weight: bold;
    cursor: pointer;
}


.btn-pay {
    height: 40px;
    width: 100%;
    font-weight: bolder;
    font-size: 20px;
    direction: rtl;
    border: 0;
    background-color: #94b607;
    color: white;
}


.total-price-row {
    background-color: #eceeef;
    line-height: 2.5em;
}


.i-next-day {
margin-left: 30px;
margin-top: 3px;
float: left !important;
}

.price-box {
position: absolute;
margin-right: 528px;
margin-top: 40px;
width:216px;
/* float: left; */
}